extends layout.pug

include workout_creator.pug

block vars
    - var title = "Admin"

block sidebar-menu
    ul(class="list-unstyled components")
        p Admin Panel
        li(class="active")
            a(href="#" id="workoutLink") Workouts
        li
            a(href="#" id="exerciseLink") Exercises
        li
            a(href="#" id="memberLink") Members
        li
            a(href="#" id="statLink") Stats
    
    ul(class="list-unstyled components")
        p #{user.username}
        li
            a(href="#") Home
        li
            a(href="#") Profile
        li
            a(href="#") About

block content
    div(class="container-fluid" id="content")
        div(class="row" id="workouts")
            include workouts.pug

        div(class="row" id="exercises" style="display:none")
            include exercises.pug

        div(class="row" id="members" style="display:none")
            h1(class="mainTitle") Members

        div(class="row" id="stats" style="display:none")
            h1(class="mainTitle") Stats
    
    +exercise-single()(id="ex-template", style="display:none")
    +exercise-block()(id="ex-block-template", style="display:none")
    +rest()(id="rest-template", style="display:none")
    +exercise-card()(id="ex-card-template", style="display:none")

    div(class="modal fade" id="removeBlockModal" tabindex="-1" role="dialog" aria-labelledby="removeBlockModalTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="removeBlockModalTitle") Confirm delete
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true"). 
                            &times;
                div(class="modal-body").
                    Are you sure you want to delete this item?
                div(class="modal-footer")
                    button(type="button" class="btn btn-light" data-dismiss="modal") Cancel
                    button(id="confirmRemove" type="button" class="btn btn-danger" data-dismiss="modal") Delete

block scripts
    script(src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js")
    script(src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js")
    script(src="https://unpkg.com/muuri@0.7.1/dist/muuri.min.js")

    script(src="js/script.js")
    script(src="js/workouts.js")
    script(src="js/exercises.js")
    script(src="js/starRating.js")

    //- script(src="tagify.min.js")
    //- link(rel="stylesheet" href="/tagify.css")

    script.
        (function() {
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        event.preventDefault();
                        event.stopPropagation();

                        switch (form.getAttribute('id')) {
                            case 'addExerciseForm':
                                if (form.checkValidity() !== false) {
                                    $.ajax({
                                        type: 'POST',
                                        url: form.getAttribute('action'),
                                        data: $(form).serialize(),
                                    }).done(function(data, textStatus, jqXHR) {
                                        $(form).children('.alert-danger').hide();
                                        $(form).children('.alert-success').html('Exercise added!').show().delay(5000).fadeOut(200);
                                        $(form).find('input:text, textarea').val('');
                                        $(form).find('input:radio').removeAttr('checked').removeAttr('selected');
                                        $(form).find('.rating span').removeClass('checked selected');
                                        $(form).find('.rating i').removeClass('fas').addClass('far');
                                        form.classList.remove('was-validated');
                                    }).fail(function(jqXHR, textStatus, err) {
                                        $(form).children('.alert-danger').html(jqXHR.responseText).show().delay(5000).fadeOut(200);
                                    });
                                } else {
                                    form.classList.add('was-validated');
                                    if (!$(form).find('input[name=exDifficulty]:checked').val()) {
                                        $(form).find('.rating .invalid-feedback').show();
                                    } else {
                                        $(form).find('.rating .invalid-feedback').hide();
                                    }
                                }
                                break;
                            
                            case 'addWorkoutForm':
                                var formValid = form.checkValidity();
                                if (formValid === false) {
                                    form.classList.add('was-validated');
                                }

                                if (checkValidWorkout() !== false && formValid !== false) {
                                    var formArray = $(form).serializeArray();
                                    var formData = {};
                                    for (var i = 0; i < formArray.length; i++){
                                        formData[formArray[i]['name']] = formArray[i]['value'];
                                    }

                                    var postData = {
                                        formData: JSON.stringify(formData),
                                        wkData: JSON.stringify(serializeWorkout())
                                    }

                                    $.ajax({
                                        type: 'POST',
                                        url: form.getAttribute('action'),
                                        data: postData,
                                    }).done(function(data, textStatus, jqXHR) {
                                        $(form).children('.alert-danger').hide();
                                        $(form).children('.alert-success').html('Workout added!').show().delay(5000).fadeOut(200);
                                        $(form).find('input:text, textarea').val('');
                                        clearWorkout();
                                    }).fail(function(jqXHR, textStatus, err) {
                                        $(form).children('.alert-danger').html(jqXHR.responseText).show().delay(5000).fadeOut(200);
                                    });
                                }
                                
                                break;
                        }
                    }, false);
                });
            }, false);
        })();

        fetchExercises(populateExerciseList, populateExerciseResults, populateWorkoutResults);

        //- var input = document.querySelector('input[name=tags]'),
        //- // init Tagify script on the above inputs
        //- tagify = new Tagify(input, {
        //-     whitelist : ["A# .NET", "A# (Axiom)", "A-0 System", "A+", "A++", "ABAP", "ABC", "ABC ALGOL", "ABSET", "ABSYS", "ACC", "Accent", "Ace DASL", "ACL2", "Avicsoft", "ACT-III", "Action!", "ActionScript", "Ada", "Adenine", "Agda", "Agilent VEE", "Agora", "AIMMS", "Alef", "ALF", "ALGOL 58", "ALGOL 60", "ALGOL 68", "ALGOL W", "Alice", "Alma-0", "AmbientTalk", "Amiga E", "AMOS", "AMPL", "Apex (Salesforce.com)", "APL", "AppleScript", "Arc", "ARexx", "Argus", "AspectJ", "Assembly language", "ATS", "Ateji PX", "AutoHotkey", "Autocoder", "AutoIt", "AutoLISP / Visual LISP", "Averest", "AWK", "Axum", "Active Server Pages", "ASP.NET", "B", "Babbage", "Bash", "BASIC", "bc", "BCPL", "BeanShell", "Batch (Windows/Dos)", "Bertrand", "BETA", "Bigwig", "Bistro", "BitC", "BLISS", "Blockly", "BlooP", "Blue", "Boo", "Boomerang", "Bourne shell (including bash and ksh)", "BREW", "BPEL", "B", "C--", "C++ – ISO/IEC 14882", "C# – ISO/IEC 23270", "C/AL", "Caché ObjectScript", "C Shell", "Caml", "Cayenne", "CDuce", "Cecil", "Cesil", "Céu", "Ceylon", "CFEngine", "CFML", "Cg", "Ch", "Chapel", "Charity", "Charm", "Chef", "CHILL", "CHIP-8", "chomski", "ChucK", "CICS", "Cilk", "Citrine (programming language)", "CL (IBM)", "Claire", "Clarion", "Clean", "Clipper", "CLIPS", "CLIST", "Clojure", "CLU", "CMS-2", "COBOL – ISO/IEC 1989", "CobolScript – COBOL Scripting language", "Cobra", "CODE", "CoffeeScript", "ColdFusion", "COMAL", "Combined Programming Language (CPL)", "COMIT", "Common Intermediate Language (CIL)", "Common Lisp (also known as CL)", "COMPASS", "Component Pascal", "Constraint Handling Rules (CHR)", "COMTRAN", "Converge", "Cool", "Coq", "Coral 66", "Corn", "CorVision", "COWSEL", "CPL", "CPL", "Cryptol", "csh", "Csound", "CSP", "CUDA", "Curl", "Curry", "Cybil", "Cyclone", "Cython", "M2001", "M4", "M#", "Machine code", "MAD (Michigan Algorithm Decoder)", "MAD/I", "Magik", "Magma", "make", "Maple", "MAPPER now part of BIS", "MARK-IV now VISION:BUILDER", "Mary", "MASM Microsoft Assembly x86", "MATH-MATIC", "Mathematica", "MATLAB", "Maxima (see also Macsyma)", "Max (Max Msp – Graphical Programming Environment)", "Maya (MEL)", "MDL", "Mercury", "Mesa", "Metafont", "Microcode", "MicroScript", "MIIS", "Milk (programming language)", "MIMIC", "Mirah", "Miranda", "MIVA Script", "ML", "Model 204", "Modelica", "Modula", "Modula-2", "Modula-3", "Mohol", "MOO", "Mortran", "Mouse", "MPD", "Mathcad", "MSIL – deprecated name for CIL", "MSL", "MUMPS", "Mystic Programming L"],
        //- //  blacklist : [".NET", "PHP"] // <-- passed as an attribute in this demo
        //- });