if success_message != ''
    div(class="alert alert-success")= success_message

if error_message != ''
    div(class="alert alert-danger")= error_message

if error != ''
    div(class="alert alert-danger")= error