doctype html
html
    block vars
    head
        title= "DUCali - " + title
        include head.pug
        block head
            link(rel="stylesheet" href="css/style.css")
    body
        nav(id="sidebar")
            div(id="dismiss")
                i(class="fas fa-arrow-left")

            div(class="sidebar-header")
                h3 DUCali
            
            block sidebar-menu
                ul(class="list-unstyled components")
                    p #{user.username}
                    li(class="active")
                        a(href="/" id="homeLink") Home
                    li
                        a(href="/") Profile
            
            a(class="btn btn-light" id="logout-btn" href="/logout") Log Out

        div(class="overlay")

        nav(class="navbar navbar-expand-lg navbar-light bg-light")
                div(class="container-fluid")
                    button(type="button" id="sidebarCollapse" class="btn")
                        i(class="fas fa-bars")
                    p(class="lead" id="navLocation")

        div(class="container" id="mainBody")
            block content
        
        include footer.pug

        script.
            $(document).ready(function() {
                $('#dismiss, .overlay').click(function () {
                    // hide sidebar
                    $('#sidebar').removeClass('active');
                    // hide overlay
                    $('.overlay').removeClass('active');
                });

                $('#sidebarCollapse').click(function() {
                    $('#sidebar').addClass('active');
                    // fade in the overlay
                    $('.overlay').addClass('active');
                    $('.collapse.in').toggleClass('in');
                });
            });
        
        block scripts