doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="css/style.css")
        title= "DUCal - Login"
        if signup
            style. 
                #login { display: none; }
        else
            style.
                #signup { display: none; }
    body
        div(class="container-fluid h-100")
            div(class="row h-100")
                div(class="col-lg-7 border-right d-flex shadow" id="loginWelcome")
                    img(src="img/logo.png")

                div(class="col align-items-center d-flex")
                    div(id="login" class="card m-auto")
                        div(class="card-body")
                            h2(class="card-title") Log In
                            form(action="/login" method="POST" class="needs-validation" novalidate)
                                div(class="form-group")
                                    input(type="text" class="form-control" id="loginUsername" name="username" placeholder="Username" required)
                                    div(class="invalid-feedback") Username required.
                                
                                div(class="form-group")
                                    input(type="password" class="form-control" id="loginPassword" name="password" placeholder="Password" required)
                                    div(class="invalid-feedback") Password required.

                                include flash.pug

                                div(class="text-center")
                                    button(type="submit" class="btn btn-success" style="width:50%") Log in
                                    p(style="margin-top:10px").
                                        Aren't a member yet?
                                        #[button(type="button" id="signup_link" class="btn btn-link") Sign up!]
                    
                    div(id="signup" class="card m-auto" style="width:70%")
                        div(class="card-body")
                            h2(class="card-title") Sign up
                            form(action="/signup" method="POST" id="signupForm" class="needs-validation" novalidate)
                                div(class="form-row")
                                    div(class="form-group col-md-6")
                                        input(type="text" class="form-control" id="signupForename" name="forename" placeholder="First Name" required)
                                        div(class="invalid-feedback") First name required.

                                    div(class="form-group col-md-6")
                                        input(type="text" class="form-control" id="signupSurname" name="surname" placeholder="Surname" required)
                                        div(class="invalid-feedback") Surname required.

                                div(class="form-group")
                                    input(type="text" class="form-control" id="signupUsername" name="username" placeholder="Username" required)
                                    div(class="invalid-feedback") Username required.

                                div(class="form-group")
                                    input(type="password" class="form-control" id="signupPassword" name="password" placeholder="Password" required)
                                    div(class="invalid-feedback") Password required.

                                div(class="form-group")
                                    input(type="password" class="form-control" id="signupConfirmPwd" name="confirm_password" placeholder="Confirm Password" required)
                                    div(class="invalid-feedback") Password confirmation required.

                                div(class="alert alert-danger" style="display:none")
                                div(class="alert alert-success" style="display:none")

                                div(class="text-center")
                                    button(type="submit" id="signup_button" class="btn btn-success" style="width:50%") Sign up
                                    p(style="margin-top:10px").
                                        Already a member?
                                        #[button(type="button" id="login_link" class="btn btn-link") Log in]

        include footer.pug

        script.
            (function() {
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                    });
                }, false);
            })();

            $('#signup_link').click(function() {
                $('form > div.alert').html('').hide();
                $('form').removeClass('was-validated');
                $('form').find('input[type=text], input[type=password]').val('');
                $('#login').fadeOut(100, function() {
                    $('#signup').fadeIn(100);
                });
            });

            $('#login_link').click(function() {
                $('form > div.alert').html('').hide();
                $('form').removeClass('was-validated');
                $('form').find('input[type=text], input[type=password]').val('');
                $('#signup').fadeOut(100, function() {
                    $('#login').fadeIn(100);
                });
            });

            $('#signupForm').submit(function(event) {
                event.preventDefault();
                event.stopPropagation();

                var form = $(this);

                $.ajax({
                    type: 'POST',
                    url: '/signup',
                    data: form.serialize()
                }).done(function(data, textStatus, jqXHR) {
                    var data = {
                        username: form.find('input[name=username]').val(),
                        forename: form.find('input[name=forename]').val(),
                        surname: form.find('input[name=surname]').val(),
                        password: form.find('input[name=password]').val(),
                        access_token: data.access_token
                    };
                    addUser(data);
                }).fail(function(jqXHR, textStatus, err) {
                    form.find('.alert-danger').html(jqXHR.responseText).show();
                    form.find('input[type=password]').val('');
                });
            });
        
            function addUser(data) {
                var form = $('#signupForm');
                $.ajax({
                    type: 'POST',
                    url: '/people',
                    data: data
                }).done(function(data, textStatus, jqXHR) {
                    form.removeClass('was-validated');
                    form.find('input[type=text], input[type=password]').val('');
                    form.find('.alert-success').html('You have signed up!').show();
                }).fail(function(data, textStatus, jqXHR) {
                    form.removeClass('was-validated');
                    form.find('.alert-danger').html(jqXHR.responseText).show();
                    form.find('input[type=password]').val('');
                });
            };
