+exercise-single()(id="ex-template", style="display:none")
+exercise-block()(id="ex-block-template", style="display:none")
+rest()(id="rest-template", style="display:none")
+exercise-card()(id="ex-card-template", style="display:none")
+ex-card-li()(id="ex-card-li-template", style="display:none")
+workout-card()(id="workout-card-template", style="display:none")
+ex-single-li()(id="ex-single-li-template", style="display:none")
+ex-block-li()(id="ex-block-li-template", style="display:none")
+rest-li()(id="rest-li-template", style="display:none")
+exec-card(user.level)(id="exec-card-template", style="display:none")
