@import "https://fonts.googleapis.com/css?family=Roboto:400,500,600,700";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: block;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 11;
}

#sidebar {
    min-width: 15em;
    max-width: 15em;
    position: fixed;
    top: 0;
    left: -15em;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 1em;
    background: #6d7fcc;
    height: 7em;
}

#sidebar .sidebar-header > h3 {
    padding: 1em 0;
}

#sidebar ul.components {
    padding: 1em 0;
    border-bottom: 1px solid #47748B;
}

#sidebar ul p {
    color: #fff;
    padding: .5em;
}

#sidebar ul li a {
    padding: .5em;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 1.2em !important;
    background: #6d7fcc;
}

#sidebar.active {
    left: 0;
}

#logout-btn {
    width: 10em;
    margin: .5em 2.5em;
}

#mainBody {
    width: 100%;
    padding: 1em;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 6em;
    right: 0;
    z-index: 10;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    display: flex;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

#dismiss i {
    margin: auto;
}

#sidebarCollapse i {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    /* #sidebar {
        margin-left: -15em;
    }
    #sidebar.active {
        margin-left: 0;
    } */

    .main-col {
        padding: 0;
    }
}

.mainTitle {
    margin-left: 1%;
    margin-bottom: 1%;
}


/* MUURI STUFF */
.content-col {
    margin-left: 1%;
    background: #7386D5;
    /* border: 20px solid transparent; */
    padding: 2%;
}

.board {
    position: relative;
}

.board-column, .board > .board-item {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
    z-index: 1;
}

.board-column {
    background: #f0f0f0;
}

.board-column.muuri-item-releasing {
    z-index: 2;
}

.board-column.muuri-item-dragging {
    z-index: 3;
    cursor: move;
}

.board-column-header, .board-item-content {
    position: relative;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    display: flex;
}

@media (max-width: 600px) {
    .board-column-header {
        text-indent: -1000px;
    }
}

.board-column-content {
    position: relative;
}

.board-item {
    position: absolute;
    width: 100%;
    margin: 5px 0;
}

.board-item.muuri-item-releasing {
    z-index: 9998;
}

.board-item.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
}

.board-item.muuri-item-hidden {
    z-index: 0;
}

@media (max-width: 600px) {
    .board-item-content {
        text-align: center;
    }
    .board-item-content span {
        display: none;
    }
}

.block-form {
    margin: 1em 0 1em 1em;
}

.drag-handle, .remove-btn {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drag-handle {
    padding: 1em;
}

.remove-btn {
    margin-left: auto;
    padding: .5em;
}

.remove-btn:hover {
    color: red;
}

.add-btn-container {
    margin: .75em 0;
    width: 100%;
    min-height: 60px;
    position: relative;
}

.add-btn-container > .add-btn {
    position: absolute;
}

.add-btn {
    display: flex;
    padding: .75em 0;
}

.add-btn-group > button, .add-btn {
    font-size: 1.5em;
    border: 3px dashed;
}

.add-btn-group > button:not(:first-child) {
    border-left: none;
}

.add-btn-group, .add-btn {
    width: 100%;
    height: 100%;
}

/* Workout creator */
.workout-creator {
    background-color: white;
    padding: 1em;
}

/* Exercise and workout form */
.custom-form {
    padding: 1em;
    background-color: white;
}

.custom-submit {
    background-color: #7386D5;
    color: white;
}

.custom-submit:hover {
    background-color: #6d7fcc;
}

/* Star rating input */
.rating {
    position: absolute;
    left: 5px;
}

.rating span { 
    float:right; 
    position:relative; 
}

.rating span input {
    position:absolute;
    top: 0;
    left: 0;
    opacity:0;
}

.rating span label {
    color: inherit;
}

.rating span i {
    display:inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 1.5em;
    margin-right: 4px;
    line-height: 1.5em;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    color:#ffdb4c;
}

/* Exercise cards */
#noExercises,
#noWorkouts {
    width: 10em;
    margin: 3em auto;
    color: white;
}

.exercise-card:not(:last-of-type) {
    margin-bottom: .75em;
}

.exercise-card .card-title {
    margin-bottom: .25rem;
}

.exercise-card .rating-static,
.workout-card .rating-static {
    float: left;
}

.exercise-card .remove-btn,
.workout-card .remove-btn {
    float: right;
    padding: 0;
}

/* Workout cards */
.workoutDisplay {
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-bottom: 1em;
}

.workoutDisplay > .list-group {
    padding: 10px;
}

.exCollapseButton i,
.wkCollapseButton i {
    margin-left: .5em;
}

.expand-btn {
    padding: 0;
    float: right;
    margin-top: -.25em;
    font-size: 1.5em;
    height: 1em;
}

.fav-icon {
    color: #ea1b51;
    margin: auto .2em auto 1em;
}

.ratings {
    display: flex;
    height: 24px;
    margin-top: 1em;
}

.ratings .rating-static,
.ratings .badge {
    margin: auto 0;
}

.ratings .badge {
    padding: .2em;
}

/* Main columns */
.main-col {
    margin-bottom: 3em;
}